@page
@model WebApplication2.Pages.ChatModel
@{
    ViewData["Title"] = "Chat Room";
}

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <h3>Chat Rooms</h3>
            <div class="list-group" id="roomList">
                <a href="#" class="list-group-item list-group-item-action" data-room="General">General</a>
                <a href="#" class="list-group-item list-group-item-action" data-room="Development">Development</a>
                <a href="#" class="list-group-item list-group-item-action" data-room="Support">Support</a>
            </div>
        </div>
        <div class="col-md-9">
            <div class="card">
                <div class="card-header" id="currentRoom">Not in a room</div>
                <div class="card-body">
                    <div id="messagesList" class="chat-messages"></div>
                </div>
                <div class="card-footer">
                    <div class="input-group">
                        <input type="text" id="messageInput" class="form-control" placeholder="Type your message..." disabled />
                        <div class="input-group-append">
                            <button id="sendButton" class="btn btn-custom-red" disabled>Send</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/6.0.1/signalr.js"></script>
    <script src="~/js/chat.js"></script>
}